:root {
  --primary-color: #33da6d;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
  z-index: 1;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
  cursor: pointer;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress-warp {
  position: relative;
  display: flex;
  align-items: center;
}

.progress {
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 20px;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
  margin: 8px 0;
  z-index: 2;
  appearance: none;
  background-color: #fff;
}

.progress::-webkit-slider-runnable-track {
  width: 300px;
  border: none;
  border-radius: 3px;
}

.progress-line {
  position: absolute;
  left: 0;
  height: 10px;
  border-radius: 8px;
  background-color: var(--primary-color);
}

.progress::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 100%;
}

/* PLAYLIST */
.playlist {
  margin-top: 408px;
  padding: 12px;
  min-height: 200px;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

/* Change color */

.change-color {
  height: 20%;
  width: 20%;
}

.primary-green,
.primary-blue,
.primary-red {
  height: 20px;
  width: 20px;
}

/* Volume control */

#volume {
  width: 0;
  opacity: 0;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-left: 8px;
  
}

.control-volume {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.control-volume:hover #volume {
  width: 25%;
  opacity: 1;
}

.sound-volume {
  display: none;
}

.btn-volume.active .sound-volume{
  display: inline-block;
}

.btn-volume.active .mute-volume{
  display: none;
}

@media (max-width: 1023px) {
  #volume,
  .progress-line,
  .progress {
    height: 20px;
  }

  .progress::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
  }
}